.sidebar {
    width: 76px;
    height: 100vh;
}

.sidebar::-webkit-scrollbar {
    width: 4px; /* width of the entire scrollbar */
}

.sidebar::-webkit-scrollbar-track {
    background: #fff; /* color of the tracking area */
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: #e0e0e0; /* color of the scroll thumb */
    border-radius: 50px; /* roundness of the scroll thumb */
}

.menu {
    margin-top: 94px;
}

.menu a:hover {
    color: #08b5b6;
    transition: all 0.5s ease-in-out;
}

.divider {
    width: 50%;
    margin: 0 auto;
    border-width: 1px;
    border-style: solid;
    border-color: #adb5bd;
}

.subtitle {
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
}

.name {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
}

.username {
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
}

.topicContent {
    font-size: 24px;
}

.topicName {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
}

.footerMenu {
    font-size: 12px;
}

.footerMenu li a:hover {
    text-decoration: underline;
}

@media screen and (min-width: 992px) {
    .sidebar {
        width: 20%;
        border: none !important;
    }

    .sidebar::-webkit-scrollbar {
        width: 6px; /* width of the entire scrollbar */
    }

    .divider {
        width: 90%;
    }

    .topicContent {
        font-size: 16px;
    }
}

@media screen and (min-width: 1200px) {
    .sidebar {
        width: 288px;
    }
}
