.uploadWrapper {
    background-color: rgb(234, 244, 249, 0.5);
    padding: 128px 0px 38px 0px;
}

.uploadWrapper > section {
    min-height: 80vh;
}

.uploadVideo {
    border-color: #adb5bd;
    border-style: dashed;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.uploadVideo:hover {
    background-color: #eaf4f9;
    border-color: #08b5b6;
}

.buttonWrapper > * {
    width: 100%;
}

@media screen and (min-width: 992px) {
    .uploadWrapper {
        padding: 128px 144px 38px 144px;
    }

    .buttonWrapper > * {
        width: auto;
    }
}

@media screen and (min-width: 1400px) {
    .uploadWrapper {
        padding: 128px 216px 38px 216px;
    }
}
